.loginContainer {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginContainer h1 {
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}
