.accueilContainer {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.accueilContainer h1 {
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}

.accueilContainer p {
  font-size: 25px;
}
