.dashContainer {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.dashContainer h1 {
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  grid-template-areas:
    "cash portefeuille"
    "actions actions";
  grid-gap: 0.2rem;
  text-align: center;
}

.grid-container > div {
  padding-top: 10px;
}

.grid-container > div > h3 {
  text-decoration: underline;
}

#cash {
  background-color: var(--deuxieme);
  grid-area: cash;
  border-radius: 10px;
  transition: scale 30ms linear;
}

#cash > p {
  font-size: 20px;
}

#portefeuille {
  background-color: var(--troisieme);
  grid-area: portefeuille;
  border-radius: 10px;
  transition: scale 30ms linear;
}

#portefeuille > p {
  font-size: 20px;
}

#actions {
  background-color: var(--quatrieme);
  grid-area: actions;
  border-radius: 5px;
  transition: scale 30ms linear;
}

.grid-container:has(div:hover) > div:not(:hover) {
  scale: 0.97;
}

@media only screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
      "cash"
      "portefeuille"
      "actions";
  }
}

.positionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}
