.dashContainer {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.dashContainer h1 {
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}

.grid-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  grid-template-areas: 
    "cash portefeuille"
    "actions actions";
  grid-gap: 0.1rem;
  text-align: center;
}

.grid-container:has(div:hover) > div:not(:hover){
  opacity: 0.7;
}

.grid-container > div{
  padding-top: 10px;
}

.grid-container > div > h3{
  text-decoration: underline;
}

#cash{
  background-color: blue;
  grid-area: cash;
  border-radius: 10px;
  transition: opacity 30ms linear;
}

#portefeuille{
  background-color: green;
  grid-area: portefeuille;
  border-radius: 10px;
  transition: opacity 30ms linear;
}

#actions{
  background-color: red;
  grid-area: actions;
  border-radius: 5px;
  transition: opacity 30ms linear;
}

@media only screen and (max-width: 550px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
      "cash"
      "portefeuille"
      "actions"
  }
}

.positionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}