.infoBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    width: 400px;
    flex-shrink: 1;
    height: 85px;
    gap: 12px;
    border: 1px solid #DADADA;
    border-radius: 10px;

}
.infoBoxIcon {
    background-color: #F4F4F4;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.infoBoxTitle, .infoBoxDesc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #828282;
}
.infoBoxDesc {
    color: black;
    font-size: 18px;
    font-weight: 500;
}
