.searchContainer {
  text-align: center;
}

.searchContainer h1 {
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: visible;
  width: 350px;
}

.searchIcon {
  padding: 0.5rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchForm {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
  flex: 1;
  height: 20px;
  border-radius: 10px;
}
