.pageContainer {
  margin-inline: 5%;
}
.headerContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainer h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #333333;
}

.tableContainer {
  margin-top: 20px;
}

.infoBoxContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}
